<% if @tasks.size > 0 %>  
  <p>Please enter your search parameters (YYYY-MM-DD for dates).</p>
  <p>If you wish to search for a task by date or search for all tasks for a give date, please use Start Date as your date parameter.</p>

  <form class="search" action="/timer/search" method="get">
    <label for="task">Task:</label>
    <select name="task">
      <option value=""></option>
      <% @tasks.each do |task| %>
        <option value="<%= task[:name] %>"><%= task[:name] %></option>
      <% end %>
    </select>
    <br>
    <label for="date_start">Start Date:</label>
    <input type="text" name="date_start" id="date_start" value="<%= params[:date_start] %>">
    <br>
    <label for="date_end">End Date:</label>
    <input type="text" name="date_end" id="date_end" value="<%= params[:date_end] %>">
    <br>
    <input type="submit" value="Submit">
  </form>

  
  <% if params[:task] || params[:date_start] %>
    <div class='content'>
      <% if !@results.nil? && @results.empty? %>
        <p>Sorry, no matches were found.</p>
      <% elsif !@results.nil? %>
        <ul class='task_list'>
          <% if params[:task].size > 0 %>
            <h3>Task: <%= @results.first[:task_name] %></h3>
            <% @results.each do |task| %>
              <li>
                <span class='task_details'>Date: <%= task[:task_date] %></span>
                <span class='task_details'>Start: <%= task[:start_at] %></span>
                <span class='task_details'>End: <%= task[:end_at] %></span>
                <span class='task_details'>Total: <%= task[:total_time] %></span>
              </li>
            <% end %>
          <% elsif params[:date_start].size > 0 && params[:date_end].size > 0 %>
            <h3>Date Range: <%= params[:date_start] %> to <%= params[:date_end] %></h3>
            <% @results.uniq { |t| t[:task_date] }.each do |task_d| %>
              <h4><%= task_d[:task_date] %></h4>
              <% @results.uniq { |t| t[:task_name] }.each do |task_n| %>
                <% @results.each do |task| %>
                  <% if task[:task_date] == task_d[:task_date] && task[:task_name] == task_n[:task_name] %>
                    <h4><%= task_n[:task_name] %></h4>
                    <li>
                      <span class='task_details'>Start: <%= task[:start_at] %></span>
                      <span class='task_details'>End: <%= task[:end_at] %></span>
                      <span class='task_details'>Total: <%= task[:total_time] %></span>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <h3>Date: <%= params[:date_start] %></h3>
            <% @results.uniq { |t| t[:task_name] }.each do |task| %>
              <ul>
                <h4><%= task[:task_name] %></h4>
                <% @results.each do |task_details| %>
                  <% if task[:task_name] == task_details[:task_name] %>
                    <li>
                      <span class='task_details'>Start: <%= task_details[:start_at] %></span>
                      <span class='task_details'>End: <%= task_details[:end_at] %></span>
                      <span class='task_details'>Total: <%= task_details[:total_time] %></span>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% else %>
    <p>There are no tasks in the database to search through. Please complete a task to search the database.</p>
<% end %>
<div class='links'>
  <p><a href='/timer'>Home</a></p>
  <p><a href='/timer/history'>History</a></p>
</div>


